<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>


<body>

<div class="container" th:fragment="navi(activeTab)">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${activeTab == 'HomePage' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/shopBooks/}">Домашняя страница<span class = "sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'showAllBooks' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/books/showAll}">Список книг<span class = "sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<div class="container">
    <br>
    <br>
    <br>
    <h1>Книги:</h1>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th th:text="'NameBook'"></th>
        <th th:text="'Author'"></th>
        <th th:text="'ReleaseYear'"></th>
        <th th:text="'Pages'"></th>
        <th th:text="'Price'"></th>
        <th th:text="'Count'"></th>
        <th th:text="''"></th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="book: ${books}">-->
<!--        <td th:text="${book.getNameBook()}"></td>-->
<!--        <td th:text="${book.getAuthor().getFullName()}"></td>-->
<!--        <td th:text="${book.getReleaseYear()}"></td>-->
<!--        <td th:text="${book.getPages()}"></td>-->
<!--        <td th:text="${book.getPrice()}"></td>-->
<!--        <td th:text="${book.getBookRemainder().getRemainder()}"></td>-->
        <td> <button type="button" class="btn btn-primary">Primary</button> </td>
    </tr>
    </tbody>
</table>
</body>
</html>